asyncio-dgram==2.1.2 ; python_version >= "3.11" and python_version < "3.12"
dnspython==2.2.1 ; python_version >= "3.11" and python_version < "3.12"
greenlet==2.0.2 ; python_version >= "3.11" and python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
mcstatus==10.0.3 ; python_version >= "3.11" and python_version < "3.12"
psycopg2-binary==2.9.7 ; python_version >= "3.11" and python_version < "3.12"
pydantic==1.10.12 ; python_version >= "3.11" and python_version < "3.12"
schedule==1.2.0 ; python_version >= "3.11" and python_version < "3.12"
sqlalchemy==2.0.20 ; python_version >= "3.11" and python_version < "3.12"
types-pyyaml==6.0.12.11 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.7.1 ; python_version >= "3.11" and python_version < "3.12"
