name: Lint

on:
  push:
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Poetry
        run: pipx install poetry

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'poetry'

      - name: Install Dependencies
        run: poetry install

      - name: Run lint
        run: poetry run ruff check

      - name: Run type check
        run: poetry run mypy .
